<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>FastPass</title>
</head>
<body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td width="100%">
              <div style="max-width:1000px;Margin:0 auto">
                <table
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;height: 100vh;"
                >
                  <tbody>
                    <tr>
                      <td>
                        <table style="margin-bottom:40px;width:100%" width="100% background-color: blue">
                          <tbody>
                            <tr>
                              <td>
                                <a
                                  href="#"
                                  style="font-family:Helvetica,Arial,sans-serif;color:blue; text-align: center;"
                                  target="_blank"
                                >
                                  <h1 style="font-weight: bold; font-style: italic;"><span style="color: red">Fast</span>Pass</h1>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align:justify;word-break:break-word">
                        <table style="margin-bottom:20px;width:100%" width="100%">
                          <tbody>
                            <tr>
                              <td>
                                <table
                                  style="width:100%;margin-bottom:20px"
                                  width="100%"
                                  cellpadding="0"
                                  cellspacing="0"
                                >
                                  <tbody>
                                    <tr>
                                      <td style="display:flex; flex-direction:column; justify-content: center;align-items: center;">
                                       
                                        <div style="display: block;">
                                            <i class="fas fa-times" style="font-size: 200px; color: red;"></i>
                                        </div>
                                        <h3
                                          style="font-size:26px;line-height:30px;color:#054752;word-break:normal; text-align: center; margin: 2rem 0;"
                                        >
                                        Error verifying your account please try again or contact admin.
                                        </h3>
                                        
                                        
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
      
                           
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</body>
</html>